/* Write your CSS code here */

.currency-cont2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
}

.currency-type-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
  text-align: center;
}

p {
  font-family: Roboto;
  font-weight: bold;
  margin-left: 10px;
}

.currency-logo {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.currency-name-cont {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
